<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Soy un comentario -->
  <div>
    <h1 style="text-align: center;">Login</h1><br>
    <ion-item>
      <ion-input label="Ingrese su correo" labelPlacement="floating" placeholder="correo@dominio.cl" type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ingrese su clave" labelPlacement="floating" placeholder="Ingrese su contraseña"
        type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button color="success" (click)="iniciosesion()">Ingresar</ion-button></ion-col>
        <ion-col><ion-button color="danger" [routerLink]="['/despedida']">Cerrar</ion-button></ion-col>
        <ion-col>{{ correo }}</ion-col>
      </ion-row>
    </ion-grid>

  </div>



</ion-content>